---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import MySiteLayout from '../layouts/MySiteLayout.astro'
import genericTextDocIcon from '../images/generic_text_document.png'
import FileExplorerItem from '../components/FileExplorerItem.astro'
import backButtonIcon from '../images/back.png'
import forwardButtonIcon from '../images/forward.png'
import fileUploadIcon from '../images/up.png'
import searchIcon from '../images/search.png'
import folderView from '../images/folder_view.png'
import iconView from '../images/icon_view.png'
import go from '../images/go.png'
import newFolder from '../images/new_folder.png'
import rename from '../images/rename.png'
import deleteIcon from '../images/delete.png'
import desktop from '../images/desktop.png'
import myDocuments from '../images/my_documents.png'
import myComputer from '../images/my_computer.png'
import documentsAndSettings from '../images/folder_closed.png'
import Image from 'astro/components/Image.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<MySiteLayout>
  <div class="window">
      <div class="title-bar">
          <div class="title-bar-text">Click on a blog!</div>
          <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <a href="/" >
                <button aria-label="Close">
                </button>
            </a>
        </div>
        </div>
        <div class="window-body">
            <div class="file-bar">
              <p>File</p>
              <p>Edit</p>
              <p>View</p>
              <p>Favorites</p>
              <p>Tools</p>
              <p>Help</p>  
            </div>
            <div class="file-explorer-tools">
              <a href="/" class="back-button">
                <Image src={backButtonIcon} alt="Windows XP back button icon" loading={'eager'}/>
                <p>Back</p>
              </a>
              <div class="forward-button">
                <Image src={forwardButtonIcon} alt="Windows XP forward button icon" loading={'eager'}/>
              </div>
              <div class="file-upload-button">
                <Image src={fileUploadIcon} alt="Windows XP file upload button" loading={'eager'} />
              </div>
              <div class="divider"/>
              <div class="search-button" >
                <Image src={searchIcon} alt="Windows XP search button icon" loading={'eager'}/>
                <p>Search</p>
              </div>
              <div class="folders-button">
                <Image src={folderView} alt="Windows XP folder view button icon" loading={'eager'} />
                <p>Folders</p>
              </div>
              <div class="divider" />
              <div class="icon-view-button">
                <Image src={iconView} alt="Windows XP icon view button icon" loading={'eager'} />
              </div>
            </div>
            <div class="address-bar">
              <p>Address</p>
              <input type="text" value="C:/Users/JovaniTrejo/Documents/posts" />
              <div class="go-button">
                <Image src={go} alt="Windows XP go button icon" loading={'eager'} />
                <p>Go</p>
              </div>
            </div>
            <div class="file-explorer-window">
              <div class="side-bar-options">
                <div class="side-bar-option">
                  <div class="side-bar-option-header">
                    <p>File and Folder Tasks</p>
                  </div>
                  <div class="side-bar-option-options">
                    <div class="side-bar-option-option">
                      <Image src={newFolder} alt="Windows XP new folder icon" loading={'eager'} />
                      <p>Create a new folder</p>
                    </div>
                    <div class="side-bar-option-option">
                      <Image src={rename} alt="Windows XP rename icon" loading={'eager'} />
                      <p>Rename this selection</p>
                    </div>
                    <div class="side-bar-option-option">
                      <Image src={deleteIcon} alt="Windows XP delete icon" loading={'eager'} />
                      <p>Delete this selection</p>
                    </div>
                  </div>
                </div>
                <div class="side-bar-option">
                  <div class="side-bar-option-header">
                    <p>Other Places</p>
                  </div>
                  <div class="side-bar-option-options">
                    <div class="side-bar-option-option">
                      <Image src={desktop} alt="Windows XP desktop icon" loading={'eager'} />
                      <p>Desktop</p>
                    </div>
                    <div class="side-bar-option-option">
                      <Image src={myDocuments} alt="Windows XP my documents icon" loading={'eager'} />
                      <p>My Documents</p>
                    </div>
                    <div class="side-bar-option-option">
                      <Image src={myComputer} alt="Windows XP my computer icon" loading={'eager'} />
                      <p>My Computer</p>
                    </div>
                    <div class="side-bar-option-option">
                      <Image src={documentsAndSettings} alt="Windows XP documents and settings icon" loading={'eager'} />
                      <p>Documents and Settings</p>
                    </div>
                  </div>
                </div>
              </div>            
              <div class="window-spacing">
                {posts.map((post) => (
                  <>
                    <FileExplorerItem item={genericTextDocIcon} alt={post.data.title} text={post.data.title.length > 15 ? `${post.data.title.slice(0, 15)}...` : `${post.data.title}.txt`} href={`/posts/${post.id}`} />
                  </>
                ))}
              </div>
            </div>
        </div>
    </div>
</MySiteLayout>
<style>
    #post {
      min-width: 50%;
      max-width: 700px;
      height: 600px;
      max-height: 90vh;
      display: flex;
      flex-direction: column;
    }
    .window {
      width: 95%;
      max-width: 700px;
      height: 600px;
      max-height: 90vh;
      display: flex;
      flex-direction: column;
    }
    .window p {
        font-size: 13px;
        color: black;
    }
    .window-body {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex: 1;
      min-height: 0;
      height: 90dvh;
      max-height: 90vh;
      margin: 0px 3px 0px 3px;
      background-color: #FFFFFF;
      flex-direction: column;
    }
    .window-spacing {
      padding: 10px;
      display: flex;
      flex-direction: row;
    }
    .file-bar {
      display: flex;
      gap: 5px;
      background-color: rgb(235, 233, 218);
      border-bottom: 1px solid rgb(215, 210, 191);
      height: 18px;
      align-items: center;
    }
    .file-bar p {
      margin: 0;
      padding: 0 5px;
      font-size: 14px;
      color: black;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .file-bar p:hover {
      background-color: rgb(64, 105, 191);
      color: white;
    }
    .file-explorer-tools {
      display: flex;
      flex-direction: row;
      gap: 5px;
      background-color: rgb(235, 233, 218);
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid rgb(215, 210, 191);
      height: 40px;
      align-items: center;
      padding: 0 5px;
    }
    img {
      width: 22px;
      height: 22px;
      object-fit: contain;
    }
    .back-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .back-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .forward-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .forward-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .file-upload-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .file-upload-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .search-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .search-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .search-button img {
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
    .folders-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .folders-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .icon-view-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .icon-view-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .divider {
      width: 1px;
      height: 80%;
      background-color: rgb(201, 198, 177);
    }
    .address-bar {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 5px;
      height: 20px;
      background-color: rgb(235, 233, 218);
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid rgb(215, 210, 191);
    }
    .address-bar p {
      margin: 0;
      padding: 0 5px;
      font-size: 14px;
      color: black;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .address-bar input {
      flex: 1;
      height: 18px;
      border: 1px solid rgb(201, 198, 177);
      padding: 0 5px;
    }
    .go-button {
      display: inline-flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
      height: 95%;
    }
    .go-button:hover {
      outline: 1px solid #C9C2AE;
      cursor: initial;
      background: linear-gradient(to bottom, #f7f6f2 0%, #efede6 55%, #e7e3d7 100%);
    }
    .go-button img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
    .file-explorer-window {
      display: flex;
      flex-direction: row;
      flex: 1;
      width: 100%;
      min-height: 0;
    }
    .side-bar-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 30%;
      height: 100%;
      background: linear-gradient(to bottom, rgb(131, 161, 225) 0%, rgb(103, 117, 207) 100%);
      overflow-x: hidden;
    }
    .side-bar-option p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: rgb(50, 92, 191);
    }
    .side-bar-option-header p {
      font-weight: bold;
      padding-left: 10px;
      font-size: 10px;
      color: rgb(50, 92, 191);
    }
    .side-bar-option-options p:hover {
      text-decoration: underline;
    }
    .side-bar-option-options img {
      width: 15px;
      height: 15px;
      object-fit: contain;
    }
    .side-bar-option {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      width: 88%;
    }
    .side-bar-option-header {
      height: 25px;
      display: flex;
      align-items: center;
      padding: 0 5px;
      background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(200, 211, 244) 100%);
      border-radius: 5px 5px 0 0;
    }
    .side-bar-option-options {
      padding: 8px;
      display: flex;
      flex-direction: column;
      background-color: rgb(227, 235, 252);
      border: 1px solid white; 
      border-top: none;
    }
    .side-bar-option-option {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 0 4px;
      height: 25px;
      border-radius: 5px;
    }

    @media screen and (max-width: 576px) {
      .side-bar-options {
        display: none;
      }
      .file-explorer-window {
        flex-direction: column;
      }
      .window {
        width: 95%;
        height: 90dvh;
      }
    }
</style>